@import "../../scss/index.scss";

.card-dream {
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 1px solid $secondary-color;
  width: 18rem;
  height: auto;
  margin: 1rem auto;
  @media (prefers-reduced-motion: no-preference) {
    transition: transform 0.3s ease;
  }
  &:hover {
    transform: scale(1.02);
  }

  @include for-desktop-up {
    margin: 1rem;
  }

  img {
    width: 2.5rem;
    margin: 1rem;
    position: absolute;
  }

  p:first-of-type {
    text-align: right;
    margin: 0.1rem 0.3rem;
    font-size: 0.8rem;
  }

  h3 {
    text-align: center;
    padding: 0.7rem;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 75%;
      height: 0.5px;
      background-color: $secondary-color;
      position: absolute;
      bottom: 0;
      left: 12%;
    }
  }

  p:nth-of-type(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.3rem;
  }

  button {
    margin: 0.5rem auto;
  }
}
