$assetPath: "../../assets/images";

$homeIcon: "#{$assetPath}/icon/homeIcon.png";
$articleIcon: "#{$assetPath}/icon/articleIcon.png";
$dreamIcon: "#{$assetPath}/icon/dreamIcon.png";
$userIcon: "#{$assetPath}/icon/userIcon.png";

$homeBg: "#{$assetPath}/dream-picture/home-bg.jpg";
