/* Mixins */

@mixin for-desktop-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin icon($icon-url, $width: 1.8rem, $height: 1.8rem) {
  background-image: url($icon-url);
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin clamp-title {
  font-size: clamp(#{$mobile-title}, 3vw, #{$desktop-title});
}

@mixin clamp-content {
  font-size: clamp(#{$mobile-content}, 2vw, #{$desktop-content});
}

@mixin transition($property, $duration, $timing-function: ease-in-out) {
  -webkit-transition: $property $duration $timing-function;
  -moz-transition: $property $duration $timing-function;
  transition: $property $duration $timing-function;
}

@mixin animation($name, $duration, $timing-function) {
  -webkit-animation: $name $duration $timing-function;
  -moz-animation: $name $duration $timing-function;
  animation: $name $duration $timing-function;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin button-styles($primary-color, $nuance-color) {
  position: relative;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid $primary-color;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  background: transparent;
  color: $white-color;
  @include transition(all, 0.2s, ease-in);

  &:hover {
    background: $primary-color;
    @include box-shadow(0 0 0.8rem 0.01rem rgba($nuance-color, 0.8));
    @include transition(all, 0.2s, ease-out);

    &::before {
      @include animation(sh02, 0.5s, linear);
    }
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0;
    opacity: 0;
    background: $white-color;
    @include box-shadow(0 0 1rem 0.5rem $white-color);
    transform: skewX(-20deg);
  }

  &:active {
    @include box-shadow(0 0 0 0 transparent);
    @include transition(box-shadow, 0.2s, ease-in);
  }
}

/* Keyframes */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
