/* Mixins */

@mixin for-desktop-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin icon($icon-url, $width: 1.8rem, $height: 1.8rem) {
  background-image: url($icon-url);
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin clamp-title {
  font-size: clamp(#{$mobile-title}, 3vw, #{$desktop-title});
}

@mixin clamp-content {
  font-size: clamp(#{$mobile-content}, 2vw, #{$desktop-content});
}

@mixin transition($property, $duration, $timing-function) {
  -webkit-transition: $property $duration $timing-function;
  -moz-transition: $property $duration $timing-function;
  transition: $property $duration $timing-function;
}

@mixin animation($name, $duration, $timing-function) {
  -webkit-animation: $name $duration $timing-function;
  -moz-animation: $name $duration $timing-function;
  animation: $name $duration $timing-function;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

/* Keyframes */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

// @mixin form-style {
//   display: flex;
//   flex-direction: column;
//   margin: 1.2rem;
//   border-radius: 0.4rem;
//   @include for-desktop-up {
//     margin: auto 5rem;
//   }
// }

// @mixin form-label {
//   font-weight: 600;
//   margin: 0.5rem;
//   @include for-desktop-up {
//     margin: 0.5rem 10rem;
//   }
// }

// @mixin form-input {
//   margin: 0.1rem 0.4rem 2rem 0.4rem;
//   padding: 0.8rem;
//   border: 0.2rem outset $secondary-color;
//   border-radius: 0.2rem;
//   height: 1.5rem;
//   @include for-desktop-up {
//     margin: 0.1rem 10rem 1rem;
//   }
// }

// @mixin form-button {
//   margin: 3rem auto 0.5rem;
//   border: 0.2rem outset $secondary-color;
//   border-radius: 0.7rem;
//   width: 10rem;
//   height: 1.6rem;
// }
