// Colors
$white-color: #f6f7f8;
$black-color: #0f1214;
$primary-color: #857dff;
$nuance-primary-color: #b4baff;
$secondary-color: #ffa8dc;
$green-color: #34c127;
$nuance-green-color: #48a040;
$orange-color: #d98a30;
$nuance-orange-color: #d08125;
$red-color: #d54949;
$nuance-red-color: #bc2e2e;

// Font family
$font-logo: "Pacifico", Arial, Helvetica, sans-serif;
$font-title: "Quicksand", "Open Sans", "Lato", "Montserrat", sans-serif;
$font-content: "Tahoma", Arial, Verdana, Helvetica, sans-serif;

// Font sizes
$mobile-title: 1.4rem;
$mobile-content: 1rem;
$desktop-title: 2rem;
$desktop-content: 1.2rem;

// Other styles
$font-stroke:
  -0.025rem -0.025rem $black-color,
  0.025rem -0.025rem $black-color,
  -0.025rem 0.025rem $black-color,
  0.025rem 0.025rem $black-color,
  0.05rem 0.05rem $black-color;

$header-height: 3.9rem;
$nav-mobile-height: 4.3rem;

$primary-filter: brightness(0) saturate(100%) invert(48%) sepia(94%)
  saturate(2204%) hue-rotate(218deg) brightness(101%) contrast(101%);
